.memorydiv {
  display: flex;
  max-width: 288px;
  width: 100%;
  height: 56px;
  border-radius: 12px;
  border-radius: 12px;
  background: var(
    --yellow-95-white,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #ffb21e
  );
  align-items: center;
  margin-top: 14px;
}
@media (max-width: 755px) {
  .memorydiv {
    margin-top: 16px;
    max-width: 315px;
    width: 100%;
  }
}
