.great {
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 32px;
  font-weight: 700;
  margin-top: 28px;
}
.comment {
  color: var(--Light-Blue, #cac9ff);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-weight: 500;
  max-width: 260px;
  width: 100%;
  margin-top: 14px;
}
@media (max-width: 755px) {
  .great {
    font-size: 32px;
    margin-top: 24px;
  }
  .comment {
    width: 260px;
    margin-top: 8px;
    font-size: 16px;
  }
}
